.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #afb5c2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inDialogTotal {
  margin-left: 50px;
}

/* .bar:hover {
  color: green;
} */
*/ .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  width: 150px;
  height: 20px;
  flex-grow: 2;
}

.total {
  font-style: italic;
}

.datePeriod {

  color: rgb(0, 0, 0);
}

.formArea {
  display: flex;
  justify-content: space-evenly;
  width: 650px;
}
